<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/2_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Author: Dr. Gregory J. Matthews

Twitter: @statsinthewild

(Note: Notes adapted from Dr. Catherine Putonti, Dean of Everything.)

In [ ]:
# This is a comment
height = 442 #in meters

In [ ]:
height

442

In [ ]:
'''
everything inside these quote is a comment
greg = 42
'''
greg #not defined because it's commented out!

42

# Variables

"Itâ€™s not that you dont declare types so much as you dont HAVE to declare types. But you can and it does help avoid some problems to declare types. " - The LEGEND Mark Hornback

In [ ]:
#Variable types
#You do not HAVE to declare types on pythion
#But you can. And this may help to avoid problems
height = 442 #height is an int (integer)
print(type(height))
height = 442.0 #height is a float (floating point number)
print(type(height))
height = 'really tall' #height is a str (string)
print(type(height))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
a = 'Yes'
b = "Yup"
c = '''
If you're happy and you know it 
clap your hands.
Clap your hands.'''

print(a)
print(b)
print(c)

#Note
#Space outside quotes doesn't matter
#a ="Yes" is the same as a = "Yes"
#Space INSIDE quotes DOES matter
#These are not the same
#a ="Yes" is NOT the same as a = " Yes"

Yes
Yup

If you're happy and you know it
clap your hands.
Clap your hands.

In [ ]:
#Python is case sensitive!
#These are all different variables
name = 'Wakko'
Name = 'Yakko'
NAME = 'Dot'

#Use print to display a single line of text.  
print('Hello',name)
print('Hello',Name)
print('Hello',NAME)

Hello Wakko
Hello Yakko
Hello Dot

In [ ]:
#Language statements are ALWAYS lower case
print("Hello World")
PRINT("Hello World")

NameError: ignored

In [ ]:
print(name)
#Default separator is a space.  
print(name,Name,NAME)
print('Your name is',NAME)

#Removingspacesbetweenwords
print(name,Name,NAME, sep = "")

Wakko
Wakko Yakko Dot
Your name is Dot
WakkoYakkoDot

# Conditional Statements and Loops

In [ ]:
#x = x + 1 thsi is equivalent to x += 1

#Loops!
x = 1
print(x)
x += 1
print(x)
x += 1
print(x)

1
2
3

## While Loops

In [ ]:
#Note the indentations!
x = 1
while x <= 100:
  print(x)
  x +=1

print("Last x is",x)

In [ ]:
x = 1
while x < 5:
  print('Hello')
  x *= 2

print("last value of x",x)

Hello
Hello
Hello
last value of x 8

In [ ]:
#Need to be consistent with indentation
#What do we need to do to make this work?
a = 1
b = 1
c = 10
while a*b < c:
  print(a, b, a*b)
  print(c)
  a = a*2 #alternatively a *= 2

1 1 1
10
2 1 2
10
4 1 4
10
8 1 8
10

## For loops

In [ ]:
#For loops
for i in [1,4,7]:
  print(2*i)

2
8
14

In [ ]:
#For loops
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#For loops
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

## Conditional Statements

In [ ]:
#Conditional Statements
#If
sky = "sunny"
if sky == "sunny":
  print('Leave your umbrella at home!')

In [ ]:
#What will be printed out?
sky = "cloudy"
if sky == "sunny":
  print('Leave your umbrella at home!')

In [ ]:
#If Else
#Every else must have an if. 
sky = 'cellphone'
if sky == 'sunny':
  print('Leave your umbrella at home!')
else:
  print('Better bring your umbrella')

Better bring your umbrella

In [ ]:
#Nested
#If and else 
sky = "sunny"
if sky == "sunny":
  print('Leave your umbrella at home!')
else: 
  if sky == "cloudy":
    print('Better bring your umbrella')
  else:
    if sky == "snowing":
      print("Grab your parka")
    else: 
      print("Your guess is as good as mine!")

Your guess is as good as mine!

In [ ]:
#What will be printed
#elif makes this easier
sky = "sunny"
if sky == "sunny":
  print('Leave your umbrella at home!')
elif sky == "cloudy":
  print('Better bring your umbrella')
elif sky == "snowing":
  print("Grab your parka")
else: 
  print("Your guess is as good as mine!")

Leave your umbrella at home!
Better bring your umbrella
Your guess is as good as mine!

#Values

## Numbers

Python has 4 types of numbers


*  Booleans
*  Integers
*  Floating point
*  Complex (imaginary numbers)

In [ ]:
#Booleans
a = True
b = False

#True evaluates as a 1 and False is a 0.  
c = 4 + True
print('c =',c)

d = 0
if d == False:
  print('d if False')

c = 5
d if False

In [ ]:
#integers
#Signed values of arbitrary size
a = 37
b = -29875486231854477
c = 0x7fa8
d = 0b1000001111

#There are two internal representations
#int: small values (less than 32-bits in size)
#large: Large values (arbitrary size).  Sometimes you'll see L shown at the end of large valuers.  

print(a, b, c, d)

37 -29875486231854477 32680 527

## Integer Operations

Integer Operations



*  "+" : sum
*  "-" : difference
*  "*" : product
*  "\\" : quotient
*  "\\\\" : floored quotient
*  "%" : remainder (or modulus)
*  abs(x) : absolute value
*  int(x) : convert to integer
*  float(x) : convert to float
*  complex(re, im) : a complex number
*  c.conjugate() : conjugate of complex number c
*  divmod(x, y): The pair of x//y and x % y
*  pow(x, y): x to the power y
*  x ** y: x to the power y

In [ ]:
print("5/4")
print(5/4)
print("5//4")
print(5//4)
c = complex(1,3)
print(c)
print(c.conjugate())

print(12//5)
print(12%5)
print(divmod(12,5))

#Recipricol
x = 3
print(1/x)

5/4
1.25
5//4
1
(1+3j)
(1-3j)
2
2
(2, 2)
0.3333333333333333

In [ ]:
print("5 + 4 = ", 5 + 4)
print("2^3 = ", pow(2,3))
print("2^3 = ", 2**3)
print("remainder 8 / 3 =", 8 % 3)

5 + 4 =  9
2^3 =  8
2^3 =  8
remainder 8 / 3 =  2

## Comparisons



* \> : Greater than
* \< : Less than
* \>= : Greater than or equal
* <= : Less than or equal
* !=: Not equal

In [ ]:
#Comparisons
a = 1
b = 2
c = 3
if b >= a and b <= c: 
  print('b is between a and c')

b is between a and c

In [ ]:
#This is the same statement as before written slightly differently. 
a = 1
b = 2
c = 3
if not(b < a or b > c): 
  print('b is between a and c')

b is between a and c

## Floating Point

In [ ]:
#Floating point
#Use decimal or exponential notation
a = 37.5
b = 4e5
c = 1.34e-10
print('a = ', a)
print('b = ', b)
print('c = ', c)

a =  37.5
b =  400000.0
c =  1.34e-10

In [ ]:
#floating points numbers are inexact decimal values 
a = 2.1 + 4.1
print(a == 6.3)
print(a)

#Does anyone know what is happening here?

False
6.300000000000001

## Floating Point Operations

In [ ]:
#floating point operations
#all of the operations that were mentioned before (e.g. +, -, /, %, etc.)
#We also have these available in the math module
import math
x = 4
print(math.sqrt(x))
print(math.sin(x))
print(math.cos(x))
print(math.tan(x))
print(math.log(2)) #Natural log unless otherwise specified
print(math.log(10000, 10)) #
print(math.exp(1))

2.0
-0.7568024953079282
-0.6536436208636119
1.1578212823495775
0.6931471805599453
4.0
2.718281828459045

In [ ]:
import math as m
x = 4
print(math.sqrt(x))

2.0

In [ ]:
#Type conversion
x = 5.0
print(x)
print(type(x))

a = int(x)
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

pi = '3.141519'
a = float(pi)
print(pi)
print(type(pi))
print(type(a))

5.0
<class 'float'>
5
<class 'int'>
5.0
<class 'float'>
3.141519
<class 'str'>
<class 'float'>

# Functions

In [ ]:
def get_max_value(a,b):
  if a>b:
    return a
  else: 
    return b

#These both work
print("Maximum value is",get_max_value(4,5))
print("Maximum value is " + str(get_max_value(4,5)))

Maximum value is 5
Maximum value is 5

# Exercise 1

The height of a lego brick is 9.6 mm. We want to build a tower at a height closest to x m.(Remember 1000 mm in a m.)

Imagine your starter code is:
x=3    # I want to build a tower that is ~ 3 m high

1.   Write a statement to calculate how many bricks are needed.
2.   Write code using a while loop to calculate the number of bricks needed.

In [ ]:
#input is height in meters
def number_of_bricks(x):
  height_mm = 1000*x
  out = round(height_mm / 9.6) #number of bricks
  return out

number_of_bricks(5)

521

In [ ]:
def number_of_bricks(x):
  num_bricks = 0
  while 9.6*num_bricks < 1000*x:
    num_bricks += 1
  return num_bricks

number_of_bricks(5)

521