<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/3_Sets_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

These are collections of unordered **unique items**. 
Sets are useful for membership tests

In [ ]:
#Useful for membership tests
tech_stonks = set(['IBM','AAPL','MSFT'])
'IBM' in tech_stonks

True

In [ ]:
'FB' in tech_stonks

False

In [ ]:
#Sets are useful for duplicate elimination
names = ['Harry','Ron','Hermione','Hagrid','Harry']
print(names)
unique = set(names)
print(unique)
unique.add('Harry')
print(unique)

['Harry', 'Ron', 'Hermione', 'Hagrid', 'Harry']
{'Ron', 'Hagrid', 'Harry', 'Hermione'}
{'Ron', 'Hagrid', 'Harry', 'Hermione'}

In [ ]:
#Other set operations
unique.add('Snape')
print(unique)
unique.remove('Hagrid')
print(unique)

{'Hermione', 'Ron', 'Harry', 'Snape'}

KeyError: ignored

In [ ]:
a1 = set(['Bart','Lisa','Maggie','Marge'])
a2 = set(['Bart','Homer','Marge'])
#Union
print('Union:', a1 | a2)
#Intersection
print('Interscetion:',a1 & a2)
#Set difference
print('Set difference:',a1 - a2)
print('Set difference:',a2 - a1)

Union: {'Marge', 'Homer', 'Bart', 'Maggie', 'Lisa'}
Interscetion: {'Marge', 'Bart'}
Set difference: {'Maggie', 'Lisa'}
Set difference: {'Homer'}

#Dictionaries

"dicts are like databases. Expecting them to be ordered makes no sense, as it has nothing to do with the data structure." - Chris Long

A collection of values indexed by "keys". 

Dictionaries are useful when: 


* There are many different values   
* The values will be modified/manipulated

Can be declared using the keyword dict or curly braces {}.

In [ ]:
#two ways to decalre a dictionary.  
characters = dict()
characters = {}

In [ ]:
#Keys serve as filed names 
s = {'first':'Harry', 'last':'Potter'}
s

{'first': 'Harry', 'last': 'Potter'}

In [ ]:
#To get a value, use the key name. 
print(s['first'])

print(s['last'])

Harry
Potter

In [ ]:
#Values cannot be referenced as an index value 
s[1]

KeyError: ignored

In [ ]:
#Adding/modifying values 
s['first'] = 'The chosen one'
s['dob'] = 'July 31'
s['dad name'] = "james"
s['mom name'] = "lily"
s

{'dad name': 'james',
 'dob': 'July 31',
 'first': 'The chosen one',
 'last': 'Potter',
 'mom name': 'lily'}

## Deleting Values

In [ ]:
del s['dob']
print(s)

{'first': 'The chosen one', 'last': 'Potter', 'dad name': 'james', 'mom name': 'lily'}

In [ ]:
#deleting a key and returning it's value
#It "pops" out of the dictionary.
print(s.pop('first'))
print(s)

The chosen one
{'last': 'Potter', 'dob': 'July 31', 'dad name': 'james', 'mom name': 'lily'}

## Keys

In [ ]:
#Keys can be strings, integers, tuples (composite keys)
#Examples:
holidays = { (1,1): 'New Years', (3,14): 'Pi Day', (7,11): 'Slurpee Day'}
print(holidays)

{(1, 1): 'Independence Day', (3, 14): 'Pi Day', (7, 11): 'Slurpee Day'}

In [ ]:
holidays = {(1,1): ["New Years","Elijah"], (7,11): ["Slurpee Day","Greg"]}
holidays[1,1][0]

'New Years'

In [ ]:
holidays = {(1,1): {"steve":["greg","elijah"]}, (7,11): ["Slurpee Day","Greg"]}
holidays[1,1]["steve"][0]

'greg'

## Looping through a dictionary

In [ ]:
#The loop variable is the key
employee = {'first_name':'Harry', 'last_name':'Potter', 'dob':"July 31", "pet":'Hedwig','house':'Gryffindor',"school":'Hogwarts','sport':"Quidditch"}
for i in employee: 
  print(i)

first_name
last_name
dob
pet
house
school
sport

In [ ]:
#.keys()
employee.keys()

dict_keys(['first_name', 'last_name', 'dob', 'pet', 'house', 'school', 'sport'])

In [ ]:
#Check to see if a key is in a dictionary
'best_friend' in employee.keys()

True

In [ ]:
employee = {'first_name':'Harry', 'last_name':'Potter', 'bod':"July 31", "pet":'Hedwig','house':'Gryffindor',"school":'Hogwarts','sport':"Quidditch"}
for i in employee: 
  print(employee[i])

print(len(employee))

Harry
Potter
July 31
Hedwig
Gryffindor
Hogwarts
Quidditch
7

In [ ]:
#This is the same thing.
for i in employee.keys(): 
  print(employee[i])

Harry
Potter
July 31
Hedwig
Gryffindor
Hogwarts
Quidditch

In [ ]:
#Retrieve the values in a dictionary
employee.values()

dict_values(['Harry', 'Potter', 'July 31', 'Hedwig', 'Gryffindor', 'Hogwarts', 'Quidditch'])

In [ ]:
for i in employee.values():
  print(i)

Harry
Potter
July 31
Hedwig
Gryffindor
Hogwarts
Quidditch

## Dictionary Length

In [ ]:
#len command
#returns the number of key-value pairs
len(employee)

7

Other dictionary commands.


*  clear: d.clear(): Empties keys and values
*  copy: new = d.copy: copies ditionary into new dictionary
*  items: d.items(): Returns key-value pairs
*  popitem: d.popitem(): removes and returns the last inserted key-value pair
*  get: d.get(*key*) Returns the value for the key value (an alternative to d[key]

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d)
d.clear()
d

{'one': 'greg', 'two': 'matthews', 'three': 'PhD'}

{}

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
e = d.copy()
print(e)

{'one': 'greg', 'two': 'matthews', 'three': 'PhD'}

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
d.items()

dict_items([('one', 'greg'), ('two', 'matthews'), ('three', 'PhD')])

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.pop('one'))
print(d)

greg
{'two': 'matthews', 'three': 'PhD'}

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.popitem())
print(d)

('three', 'PhD')
{'one': 'greg', 'two': 'matthews'}

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.get('one'))
print(d["one"])

greg
greg

In [ ]:
d = {'first' : 'Hermione', 'last' : 'Granger', 'pet' : "Crookshanks"}
for key, value in d.items():
  print("Key =", key, ", Value =",value)

Key = first , Value = Hermione
Key = last , Value = Granger
Key = pet , Value = Crookshanks

## Sorting a dictionary

In [ ]:
d = {"incantations":1,
     "There":1,
     'will': 1,
     'be': 1,
     'no': 1,
     'foolish':1,
     'wand-waving':1,
     'or':1,
     'silly':1,
     'in':3,
     'you': 5}
    
#print(d)    
import operator
#This is how you used to do it.
#Sorted by counts
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(1)))
print(sorted_d)

#Sorted by counts descending
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(1), reverse = True))
print(sorted_d)

{'incantations': 1, 'There': 1, 'will': 1, 'be': 1, 'no': 1, 'foolish': 1, 'wand-waving': 1, 'or': 1, 'silly': 1, 'in': 3, 'you': 5}
{'you': 5, 'in': 3, 'incantations': 1, 'There': 1, 'will': 1, 'be': 1, 'no': 1, 'foolish': 1, 'wand-waving': 1, 'or': 1, 'silly': 1}

In [ ]:
import operator
#Sorted by counts
#What will this return?  
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(0)))
print(sorted_d)

#How about this?  
sorted_d = dict(sorted(d.items(), key = operator.itemgetter(0), reverse = True))
print(sorted_d)

{'There': 1, 'be': 1, 'foolish': 1, 'in': 3, 'incantations': 1, 'no': 1, 'or': 1, 'silly': 1, 'wand-waving': 1, 'will': 1, 'you': 5}
{'you': 5, 'will': 1, 'wand-waving': 1, 'silly': 1, 'or': 1, 'no': 1, 'incantations': 1, 'in': 3, 'foolish': 1, 'be': 1, 'There': 1}

In [ ]:
#This just sorts the keys and returns only keys
print(sorted(d))

# This sorts on the keys but returns the keys AND values
print(sorted(d.items()))

['There', 'be', 'foolish', 'in', 'incantations', 'no', 'or', 'silly', 'wand-waving', 'will', 'you']
[('There', 1), ('be', 1), ('foolish', 1), ('in', 3), ('incantations', 1), ('no', 1), ('or', 1), ('silly', 1), ('wand-waving', 1), ('will', 1), ('you', 5)]

In [ ]:
#here is how to sort based on the keys 
#Notice that I'm using [0]
#The keys are element 0.  The values are element 1.
print(sorted(d.items(), key = lambda kv: kv[0], reverse = True))

[('you', 5), ('will', 1), ('wand-waving', 1), ('silly', 1), ('or', 1), ('no', 1), ('incantations', 1), ('in', 3), ('foolish', 1), ('be', 1), ('There', 1)]

In [ ]:
#Here is how to sort based on the values
#Notice that I'm using [1]
#The keys are element 0.  The values are element 1.
#By default in sorts smallest to largest.  
#Reverse.....reverses that and sorts largest to smallest.  
print(sorted(d.items(), key = lambda kv: kv[1], reverse = True))

In [ ]:
#Note on Lambda: 
greg = lambda x: x.upper()
print(greg("stats"))

def greg2(x):
  return x.upper()

print(greg2("stats2"))

STATS
STATS2

## Dictionary of dictionaries

In [ ]:
#Note for myself: Dictionaries in python are sort of like lists in R.  
#You can have a list of lists and you can have dictionaries of dictionaries
characters = {'Harry Potter':{'pet':"Hedwig",'sports':'Quidditch','house':"Gryffindor"},
              'Hermione Granger':{'pet':"Crookshanks",'sports':'Studying','house':"Gryffindor"},
              'Ron Weasley': {'pet':"Scabbers",'sports':'none','house':"Gryffindor"}}

#Call by the keys
print(characters['Harry Potter'])

#Call by two levels
print(characters['Ron Weasley']['pet'])

{'pet': 'Hedwig', 'sports': 'Quidditch', 'house': 'Gryffindor'}
Scabbers

# Example

In [ ]:
import csv

mydict = {}
#You have to mount your google drive first
with open('/content/drive/MyDrive/COMP231/Ex1.txt', mode='r') as inp:
    reader = csv.reader(inp)
    dict_from_csv = {rows[0]:{'num_stocks':int(rows[1]),'price_per_stock':float(rows[2])}for rows in reader}

print(dict_from_csv)

'''
Or read it in from here: 
{'GOOGL': {'num_stocks': 100, 'price_per_stock': 1575.57}, 
 'FB': {'num_stocks': 14, 'price_per_stock': 260.81}, 
 'SNAP': {'num_stocks': 91, 'price_per_stock': 21.7}, 
 'TWTR': {'num_stocks': 300, 'price_per_stock': 38.09}, 
 'PINS': {'num_stocks': 5, 'price_per_stock': 34.19}, 
 'AAPL': {'num_stocks': 15, 'price_per_stock': 497.48}, 
 'AMZN': {'num_stocks': 100, 'price_per_stock': 3284.72}, 
 'NFLX': {'num_stocks': 75, 'price_per_stock': 492.31}}
 '''

{'GOOGL': {'num_stocks': 100, 'price_per_stock': 1575.57}, 'FB': {'num_stocks': 14, 'price_per_stock': 260.81}, 'SNAP': {'num_stocks': 91, 'price_per_stock': 21.7}, 'TWTR': {'num_stocks': 300, 'price_per_stock': 38.09}, 'PINS': {'num_stocks': 5, 'price_per_stock': 34.19}, 'AAPL': {'num_stocks': 15, 'price_per_stock': 497.48}, 'AMZN': {'num_stocks': 100, 'price_per_stock': 3284.72}, 'NFLX': {'num_stocks': 75, 'price_per_stock': 492.31}}

"\nOr read it in from here: \n{'GOOGL': {'num_stocks': 100, 'price_per_stock': 1575.57}, \n 'FB': {'num_stocks': 14, 'price_per_stock': 260.81}, \n 'SNAP': {'num_stocks': 91, 'price_per_stock': 21.7}, \n 'TWTR': {'num_stocks': 300, 'price_per_stock': 38.09}, \n 'PINS': {'num_stocks': 5, 'price_per_stock': 34.19}, \n 'AAPL': {'num_stocks': 15, 'price_per_stock': 497.48}, \n 'AMZN': {'num_stocks': 100, 'price_per_stock': 3284.72}, \n 'NFLX': {'num_stocks': 75, 'price_per_stock': 492.31}}\n "

In [ ]:
dict_from_csv['GOOGL']
#stock = 'GOOGL'
del stock 
val = 0
for i in dict_from_csv.keys():
  temp = dict_from_csv[i]['price_per_stock']
  if temp > val:
    val = temp
    stock = i

print("The most valuable stock is",stock,"It is worth",dict_from_csv[stock]['price_per_stock'])

The most valuable stock is AMZN It is worth 3284.72

In [ ]:
stock = {'GOOGL': {'num_stocks': 100, 'price_per_stock': 1575.57}, 
 'FB': {'num_stocks': 14, 'price_per_stock': 260.81}, 
 'SNAP': {'num_stocks': 91, 'price_per_stock': 21.7}, 
 'TWTR': {'num_stocks': 300, 'price_per_stock': 38.09}, 
 'PINS': {'num_stocks': 5, 'price_per_stock': 34.19}, 
 'AAPL': {'num_stocks': 15, 'price_per_stock': 497.48}, 
 'AMZN': {'num_stocks': 100, 'price_per_stock': 3284.72}, 
 'NFLX': {'num_stocks': 75, 'price_per_stock': 492.31}}

priceList = []

for key, value in stock.items():
  for price in value.values():
     priceList.append(price)
largest = max(priceList)
print(largest)
for key, val in stock.items():
  for i in val.values():
    if i == largest:
      print(key)


highest_val = 0
for k in stock.keys():
  stock_value = stock[k]['price_per_stock']
  if stock_value > highest_val:
    highest_val = stock_value
    highest_name = k
print("most valuable stonk is", highest_name, "with a value of", highest_val)

top_stonk = 0
for i in stock:
  if stock[i]['price_per_stock'] > top_stonk:
    top_stonk = stock[i]['price_per_stock']
print(top_stonk)

3284.72
AMZN
most valuable stonk is AMZN with a value of 3284.72
3284.72

More practice with dictionaries!

https://www.w3resource.com/python-exercises/dictionary/