<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/dates_and_times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd
import numpy as np
from datetime import datetime 
#First one has month first
#Date2 has day first
df = pd.DataFrame({'date': ['04/03/2022', '05/03/2022', '06/03/2022'],
                   'date2': ['03/04/22', '03/05/22', '03/06/22'],
                   'patients': [16, 19, 11]})
 
df

         date     date2  patients
0  04/03/2022  03/04/22        16
1  05/03/2022  03/05/22        19
2  06/03/2022  03/06/22        11

In [53]:
df.dtypes

date        object
date2       object
patients     int64
dtype: object

In [54]:
df['date'] = pd.to_datetime(df['date'])
df

        date     date2  patients
0 2022-04-03  03/04/22        16
1 2022-05-03  03/05/22        19
2 2022-06-03  03/06/22        11

In [56]:
#This isn't correct!
df['date2'] = pd.to_datetime(df['date2'])
df

        date      date2  patients
0 2022-04-03 2022-03-04        16
1 2022-05-03 2022-03-05        19
2 2022-06-03 2022-03-06        11

In [57]:
df['date2'] = pd.to_datetime(df['date2'].dt.strftime("%d/%m/%Y"))
df

        date      date2  patients
0 2022-04-03 2022-04-03        16
1 2022-05-03 2022-05-03        19
2 2022-06-03 2022-06-03        11

In [10]:
#You can do math on dates.
print(df['date'][1] - df['date'][0])
print(df['date'][2] - df['date'][1])

30 days 00:00:00
31 days 00:00:00

In [42]:
#changing formats
print(pd.to_datetime(df['date']))
print(df['date'].dt.strftime('%m/%d/%Y'))
print(df['date'].dt.strftime('%m/%d/%y'))
print(df['date'].dt.strftime('%d/%m/%y'))

0   2022-04-03
1   2022-05-03
2   2022-06-03
Name: date, dtype: datetime64[ns]
0    04/03/2022
1    05/03/2022
2    06/03/2022
Name: date, dtype: object
0    04/03/22
1    05/03/22
2    06/03/22
Name: date, dtype: object
0    03/04/22
1    03/05/22
2    03/06/22
Name: date, dtype: object

In [11]:
#Convert integer to date
pd.to_datetime(14667, unit='D', origin='unix')

Timestamp('2010-02-27 00:00:00')

In [12]:
pd.to_datetime(14667, unit='D', origin='1900-01-01')

Timestamp('1940-02-28 00:00:00')

In [13]:
#Change the units
pd.to_datetime(996209999, unit='s', origin='2000-01-01')

Timestamp('2031-07-27 04:59:59')

In [14]:
#Future dates
date = datetime.now()
 
#Present Date
print(date)
 
#Date Tomorrow
print(date+pd.to_timedelta(1, unit='D'))
 
#Date After a Month
print(date+pd.to_timedelta(1, unit='m'))

2022-11-08 19:13:26.918438
2022-11-09 19:13:26.918438
2022-11-08 19:14:26.918438

In [33]:
#dt.year – to get the year
#dt.month – to get the month
#dt.day – to get the day
#dt.week – to get the week of the year
#dt.dayofweek – to get the day of the week
#dt.is_leap_year – to get leap year

print(df['date'].dt.year)
print(df['date'].dt.dayofweek)

0    2022
1    2022
2    2022
Name: date, dtype: int64
0    6
1    1
2    4
Name: date, dtype: int64

In [34]:
pd.date_range(start='13/4/2022', end='5/5/2022')

DatetimeIndex(['2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30', '2022-05-01', '2022-05-02',
               '2022-05-03', '2022-05-04', '2022-05-05'],
              dtype='datetime64[ns]', freq='D')

# In class questions
 - What day of the week do the most inspections occur. 
 - What is the pass rate (i.e. results == "Pass") of each month for all inspections and which month had the lowest pass rate.