<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

Teams = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/Teams.csv")

In [39]:
averages = np.zeros(26)
for i in range(14,40):
  averages[i-14] = np.mean(Teams.iloc[:,i])

print(averages)
df = pd.DataFrame(averages, index=Teams.columns[[range(14,40)]], columns = [1])
print(df)

[6.81030821e+02 5.12899095e+03 1.33942044e+03 2.28669682e+02
 4.56730318e+01 1.05865997e+02 4.73557306e+02 7.62133715e+02
 1.09408185e+02 4.65499303e+01 4.58210181e+01 4.41059557e+01
 6.81029816e+02 5.73405360e+02 3.84064322e+00 4.75453936e+01
 9.58760469e+00 2.44217755e+01 4.01323652e+03 1.33920000e+03
 1.05865997e+02 4.73747404e+02 7.61580570e+02 1.80784925e+02
 1.32617755e+02 9.66350419e-01]
                  1
R        681.030821
AB      5128.990955
H       1339.420436
X2B      228.669682
X3B       45.673032
HR       105.865997
BB       473.557306
SO       762.133715
SB       109.408185
CS        46.549930
HBP       45.821018
SF        44.105956
RA       681.029816
ER       573.405360
ERA        3.840643
CG        47.545394
SHO        9.587605
SV        24.421776
IPouts  4013.236516
HA      1339.200000
HRA      105.865997
BBA      473.747404
SOA      761.580570
E        180.784925
DP       132.617755
FP         0.966350

/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [101]:
def f(x):
    # return math.sqrt(x)
    return np.sqrt(x)

f([1,2,4])

array([1.        , 1.41421356, 2.        ])

In [102]:
vf = np.vectorize(f)
vf([1,2,3])

array([1.        , 1.41421356, 1.73205081])

In [47]:
#pull out the numeric variables, but you need to know the index.  
Teams.iloc[:,range(14,40)].apply(np.mean,axis = 0)

R          681.030821
AB        5128.990955
H         1339.420436
X2B        228.669682
X3B         45.673032
HR         105.865997
BB         473.557306
SO         762.133715
SB         109.408185
CS          46.549930
HBP         45.821018
SF          44.105956
RA         681.029816
ER         573.405360
ERA          3.840643
CG          47.545394
SHO          9.587605
SV          24.421776
IPouts    4013.236516
HA        1339.200000
HRA        105.865997
BBA        473.747404
SOA        761.580570
E          180.784925
DP         132.617755
FP           0.966350
dtype: float64

In [50]:
#Pull out the numeric variables without the index
numerics = ['int16', 'int32', 'int64']
Teams_sub = Teams.select_dtypes(include=numerics)
Teams_sub.apply(np.mean,axis = 0)

yearID    1958.863652
Rank         4.039196
G          150.006030
W           74.611055
L           74.611055
R          681.030821
AB        5128.990955
H         1339.420436
X2B        228.669682
X3B         45.673032
HR         105.865997
RA         681.029816
ER         573.405360
CG          47.545394
SHO          9.587605
SV          24.421776
IPouts    4013.236516
HA        1339.200000
HRA        105.865997
BBA        473.747404
SOA        761.580570
E          180.784925
DP         132.617755
BPF        100.189950
PPF        100.212395
dtype: float64

NameError: ignored

In [14]:
angels = Teams[Teams.franchID == "ANA"].groupby(["teamID","name"])
first = angels.apply(lambda x: x.head(1))[["name","yearID"]]
first.reset_index(drop=True, inplace=True)
last = angels.apply(lambda x: x.tail(1))[["name","yearID"]]
last.reset_index(drop=True, inplace=True)
merg = first.merge(last, on = "name")
merg = merg.rename(columns = {"yearID_x":"start","yearID_y":"end"})
print(merg)

                            name  start   end
0                 Anaheim Angels   1997  2004
1              California Angels   1965  1996
2             Los Angeles Angels   1961  1964
3  Los Angeles Angels of Anaheim   2005  2021

In [11]:
merg.name.apply(len)
#Or this
#merg["name"].apply(len)

0    14
1    17
2    18
3    29
Name: name, dtype: int64

# Iterating over your own function

In [23]:
def top5( data, team_name):
  out = data[data.name == team_name][["teamID","yearID","W","L","name"]].sort_values("W", ascending = False).head(5) 
  return(out)

top5(Teams, "New York Yankees")

     teamID  yearID    W   L              name
2283    NYA    1998  114  48  New York Yankees
824     NYA    1927  110  44  New York Yankees
1371    NYA    1961  109  53  New York Yankees
904     NYA    1932  107  47  New York Yankees
1016    NYA    1939  106  45  New York Yankees

In [24]:
angels_names = merg["name"]
angels_names.head()

0                   Anaheim Angels
1                California Angels
2               Los Angeles Angels
3    Los Angeles Angels of Anaheim
Name: name, dtype: object

In [31]:
#I can't figure out how to do this in python!
#list(map(top5,angels_names,Teams))

#I can hard code the Teams data set though and get it to work.  
def top5(team_name):
  out = Teams[Teams.name == team_name][["teamID","yearID","W","L","name"]].sort_values("W", ascending = False).head(5) 
  return(out)

top5("New York Yankees")
list(map(top5,angels_names))

[     teamID  yearID   W   L            name
 2385    ANA    2002  99  63  Anaheim Angels
 2445    ANA    2004  92  70  Anaheim Angels
 2265    ANA    1998  85  77  Anaheim Angels
 2237    ANA    1997  84  78  Anaheim Angels
 2325    ANA    2000  82  80  Anaheim Angels,
      teamID  yearID   W   L               name
 1842    CAL    1982  93  69  California Angels
 1946    CAL    1986  92  70  California Angels
 2024    CAL    1989  91  71  California Angels
 1920    CAL    1985  90  72  California Angels
 1764    CAL    1979  88  74  California Angels,
      teamID  yearID   W   L                name
 1386    LAA    1962  86  76  Los Angeles Angels
 1426    LAA    1964  82  80  Los Angeles Angels
 1367    LAA    1961  70  91  Los Angeles Angels
 1406    LAA    1963  70  91  Los Angeles Angels,
      teamID  yearID    W   L                           name
 2578    LAA    2008  100  62  Los Angeles Angels of Anaheim
 2757    LAA    2014   98  64  Los Angeles Angels of Anaheim
 2608    LAA    2009   97  65  Los Angeles Angels of Anaheim
 2488    LAA    2005   95  67  Los Angeles Angels of Anaheim
 2548    LAA    2007   94  68  Los Angeles Angels of Anaheim]

In [2]:
first_it = [1, 2, 3]
second_it = [4, 5, 6, 7]

list(map(pow, first_it, second_it))

[1, 32, 729]