<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/4_Strings_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

We've already seen some strings.  But let's take a closer look.

In [ ]:
#Strings are an ordered sequence (list) of characters
a = 'Pinky and the Brain'
print(type(a))
#Pulls out the first element of the string
#Remember indexes start at 0!
b = a[0]
print(b)

#Starts counting from the end.  
print(a[-5])

#The number of characters in the string
#Equivalent to nchar in R.  
len(a)

<class 'str'>
P
B

19

# Lists
 
Lists are ordered collections of data.

Individual elements in a list can be directly accessed by their index.

In Python, lists can be collections of any elements.  

Note to self: Lists in python = vectors in R?

In [ ]:
#Declare a list
l = list()
print(type(l))

#or like this
g = []
print(type(g))

<class 'list'>
<class 'list'>

In [ ]:
l = [1,2,3,4,5]
l

#Print out the first element
print(l[0])

#print out the first 3 elements.  
print(l[0:3])

#print out the last element
print(l[-1])

#Remove the third element
l[0:2] + l[3:5]

1
[1, 2, 3]
5

[1, 2, 4, 5]

## String Escape Codes

'\n' : Line feed

'\r' : Carriage return

'\t' : tab

'\\' : backslash

In [ ]:
#Slicing substrings
#s[start:end]
#Remember, strings are indexed by integers (starting at 0).
#First 5 elements
x = a[:5]
print(x)

y = a[14:]
print(y)

z = a[-5:]
print(z)

w = a[6:9]
print(w)

Ya

Ya

## Concatenating Strings

In [ ]:
#Concatenating Strings
#In R this function is paste!
s = x + y
print(s)

s = x + ' ' + y
print(s)

Ya
Ya

In [ ]:
#More string operations
s = 'Hello'
print(len(s))

#Check if a character is in a string
print('e' in s)

print('hi' not in s)

print('hllo' in s)

#This is rep in R.  But you would then need to paste in with collapse.  
a = 'Ya'
a*5

print(5*a + ' ' + s)

5
True
True
False
YaYaYaYaYa Hello

## String Methods

Strings have methods that perform various operations with the string data.

In [ ]:
#stripping and leading/trailing whitespace
s = "      Pinky and the Brain       "

t = s.strip()
print(t)

#Case conversion
t = s.lower()
print(t)

t = s.upper()
print(t)

#These methods can be chained together.  
t = s.upper().strip()
print(t)


#Removing all spaces
print(s.replace(" ",""))


print(s.find("i"))
print(s.rfind("i"))

Pinky and the Brain
      pinky and the brain
      PINKY AND THE BRAIN
PINKY AND THE BRAIN
PinkyandtheBrain
7
23

In [ ]:
print(s.strip().split(" "))

['Pinky', 'and', 'the', 'Brain']

In [ ]:
#Replacing text
t = s.strip().replace('Pinky','Yakko')
print(t)

Yakko and the Brain

Some useful string methods: 

* s.find(t): first occurence of t in s
* s.index(t): first occurence of t in s
* s.split([delim]): Split string into list of substrings
* s.isdigit(): Check if characters are numeric
* s.isalpha(): Check if characters are alphabetic


Even more string methods: https://www.w3schools.com/python/python_ref_string.asp

## String mutability

Strings are "immutable" (read only)

Once created, the value cannot be changed. 

All operations/methods that manipulate string data always create new strings.

In [ ]:
s = 'Hello World'
s[1]

s = 9 
print(s + 10)

s = 'Hello World'
print(s)
#This gives us an error.  
#Let's take a look at it.  
#s[1] = 'a'

print(s[0] + 'a' + s[2:])

19
Hello World
Hallo World

## Replace

In [ ]:
#Replace
print(s.replace("Hello","Hallo"))

#Notice that s hasn't changed yet!
#Because it hasn't been assigned.
print(s)

Hallo World
Hello World

In [ ]:
#Let's make the change permanent.  
s = s.replace("Hello","Hallo")
print(s)

Hallo World

In [ ]:
#What if it can't find the thing to replace?
s.replace("Greg","Hallo")

#It does what you asked it to do.  It found all the "Greg"'s and replaced them.  
#There are zero gregs.

'Hallo World'

In [ ]:
#What if it can't find the thing to replace?
print(s.replace("l","Greg"))

HaGregGrego WorGregd

In [ ]:
#Replacing only the first "l" with greg.
ind = s.find("l")
print(s[:ind] + "Greg" + s[ind+1:])

HaGreglo World

## String Conversions

In [ ]:
#Convert to a string with str
x = 42
print(type(x))

x = str(x)
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
#Special Strings
#\ is read as a special escape code. 
filename = 'C:\mypath\myfile.txt'
filename

'C:\\mypath\\myfile.txt'

## Splitting strings

In [ ]:
#Strings often represent field of data
#To work with each field, split into a list
line = 'dnaN,DNA polymerase III'
row = line.split(',')
row

['dnaN', 'DNA polymerase III']

# Tuples

Tuples are a collection of values grouped together.  (Despite the name, this collection can include any number of items (not just 2).

The major difference between tuples and lists is that a list is mutable, whereas a tuple is immutable. This means that a list can be changed, but a tuple cannot.

In [ ]:
#Can I create a tuple with only commas.  
elijah = "goog",45, 45
print(elijah)

('goog', 45, 45)

In [ ]:
test_tuple = ("greg",413)
test_list = ["greg",413]

print(test_list[0])
print(test_tuple[0])

test_list[0] = "steve"
#This will give an erro
#test_tuple[0] = "steve"

print(test_list[0])
print(test_tuple[0])

greg
greg
steve
greg

In [ ]:
#Example
s = ('GOOG',100,490.1)
print(s)

print(type(s))

('GOOG', 100, 490.1)
<class 'tuple'>
100

In [ ]:
#You don't even need the parenthesis.  (Which I think it nuts.)

s = 'GOOG',100,490.1
s

('GOOG', 100, 490.1)

In [ ]:
#0-tuple
t = ()
print(type(t))

#1-tuple
w = ('GOOG',)
w

fred = ("greg",("greg","steve"))
print(fred)

<class 'tuple'>
('greg', ('greg', 'steve'))

In [ ]:
#Note: 
#This is a string
w = ("GOOG")
print(type(w))

#This is a 1-tuple
w = ("GOOG",)
print(type(w))

<class 'str'>
<class 'tuple'>

In [ ]:
#Tuples are usually used to represent simple records or structures
contact = ('Help Desk','help@luc.edu')
stock = ('GOOG',100,490.1)
host = ('www.python.org',)

#A single "object" with multiple parts

tuple

Number of variables must match tuple structure.

"JennaJrdn: tuple unpacking is the best part of tuples"

In [ ]:
s = ('GOOG', 100, 490.1)
#Unpack a tuple
name = s[0]
shares = s[1]
price = s[2]

print(name)
print(shares)
print(price)

GOOG
100
490.1

In [ ]:
#Alternatively
name,shares,price = s
print(name)
print(shares)
print(price)

GOOG
100
490.1

In [ ]:
#tuples contents can't be modified
s = ('GOOG', 100, 490.1)
#This gives an error
s[1] = 75

In [ ]:
#But you can make a new tuple!
s = (s[0],75,s[2])
s

('GOOG', 75, 490.1)

In [ ]:
#packing tuples
#Tuples are focused more on packing related items together into a single "entity"

s = (name, shares,price)
s

('GOOG', 100, 490.1)

# Exercise

Cryptocurrencies are popping up left & right.I’ve decided to take the plunge and have bought several different cryptocurrencies. Ex2.py reads in file of cryptocurrency rates (Ex2.txt) and creates a dictionary of tuples where the tuple contains the percentage of a “crypto coin” that I own (float) and the price per 1 “crypto coin” (float).

Write code to:
1. Calculate and print to the console the amount of money I’ve invested.
2. Dogecoin takes off. Its price goes up to $747.15. Update your dictionary of tuples.
3. Print to console my Dogecoin value.
4. I want to dump all of my other cryptocurrency and double down with Dogecoin. Print to console the amount I have invested in all of my other cryptocurrencies?

In [ ]:
import csv

mydict = {}

with open('/content/drive/MyDrive/COMP231/Ex2.txt', mode='r') as inp:
    reader = csv.reader(inp)
    dict_from_csv = {rows[0]:(float(rows[1]),float(rows[2])) for rows in reader}

print(dict_from_csv)
d = dict_from_csv.copy()

'''
{'BTC': (0.01, 48669.0), 
'ETH': (0.1, 3266.24), 
'ADA': (2.0, 2.5), 
'BNB': (1.0, 449.83), 
'USDT': (1000.0, 1.0), 
'DOGE': (900.0, 0.33), 
'DOT': (6.5, 28.17), 
'SOL': (8.0, 78.08), 
'BCH': (3.0, 677.51), 
'MATIC': (4.0, 1.53), 
'THETA': (3.0, 7.23), 
'EOS': (45.0, 5.36), 
'CAKE': (3.0, 23.85), 
'XMR': (1.0, 281.85), 
'ATOM': (4.0, 19.06), 
'CRO': (50.0, 0.15), 
'HNT': (4.0, 24.55)}
'''

{'BTC': (0.01, 48669.0), 'ETH': (0.1, 3266.24), 'ADA': (2.0, 2.5), 'BNB': (1.0, 449.83), 'USDT': (1000.0, 1.0), 'DOGE': (900.0, 0.33), 'DOT': (6.5, 28.17), 'SOL': (8.0, 78.08), 'BCH': (3.0, 677.51), 'MATIC': (4.0, 1.53), 'THETA': (3.0, 7.23), 'EOS': (45.0, 5.36), 'CAKE': (3.0, 23.85), 'XMR': (1.0, 281.85), 'ATOM': (4.0, 19.06), 'CRO': (50.0, 0.15), 'HNT': (4.0, 24.55)}

#Example Solution

In [ ]:
#1
dinero = 0
for i in d.keys():
  dinero = dinero + d[i][1]

print(round(dinero))

53536

In [ ]:
#2
#Update the DOGE tuple
d['DOGE'] = (d['DOGE'][0], 747.15)
print(d)
print(dict_from_csv)

{'BTC': (0.01, 48669.0), 'ETH': (0.1, 3266.24), 'ADA': (2.0, 2.5), 'BNB': (1.0, 449.83), 'USDT': (1000.0, 1.0), 'DOGE': (900.0, 747.15), 'DOT': (6.5, 28.17), 'SOL': (8.0, 78.08), 'BCH': (3.0, 677.51), 'MATIC': (4.0, 1.53), 'THETA': (3.0, 7.23), 'EOS': (45.0, 5.36), 'CAKE': (3.0, 23.85), 'XMR': (1.0, 281.85), 'ATOM': (4.0, 19.06), 'CRO': (50.0, 0.15), 'HNT': (4.0, 24.55)}
{'BTC': (0.01, 48669.0), 'ETH': (0.1, 3266.24), 'ADA': (2.0, 2.5), 'BNB': (1.0, 449.83), 'USDT': (1000.0, 1.0), 'DOGE': (900.0, 0.33), 'DOT': (6.5, 28.17), 'SOL': (8.0, 78.08), 'BCH': (3.0, 677.51), 'MATIC': (4.0, 1.53), 'THETA': (3.0, 7.23), 'EOS': (45.0, 5.36), 'CAKE': (3.0, 23.85), 'XMR': (1.0, 281.85), 'ATOM': (4.0, 19.06), 'CRO': (50.0, 0.15), 'HNT': (4.0, 24.55)}

In [ ]:
#3
print("My DOGE coin is worth this many dollars",d['DOGE'][0]*d['DOGE'][1])

My DOGE coin is worth this many dollars 672435.0

In [ ]:
#4
#remove doge
d = dict_from_csv.copy()
print(d['DOGE'])
del d['DOGE']

totalvalue = 0
for i in d.keys():
  totalvalue = totalvalue + d[i][0]*d[i][1]

print("I am very rich.  Here is how much money I have in fake money: ", totalvalue)

(900.0, 0.33)
I am very rich.  Here is how much money I have in fake money:  5912.768999999999

In [ ]:
#Totally different thing.
#Copy vs deep copy
source = {"a":1, "b": (1,2,3), "c": {"greg":"matthews"}}
dict1 = source.copy()
import copy
dict2 = copy.deepcopy(source)

#Modify dict1 does not modify source
dict1['a'] = 3
print(source)
print(dict1)
print(dict2)

{'a': 3, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}

{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}

In [ ]:
#Copy vs deep copy
source = {"a":1, "b": (1,2,3), "c": {"greg":"matthews"}}
dict1 = source.copy()
import copy
dict2 = copy.deepcopy(source)

#Modify dict1 does not modify source
dict1['b'] = (4,5)
print(source)
print(dict1)
print(dict2)

dict2['b'] = (4,5)
print(source)
print(dict1)
print(dict2)

{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (4, 5), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (4, 5), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (4, 5), 'c': {'greg': 'matthews'}}

In [ ]:
#Copy vs deep copy
source = {"a":1, "b": (1,2,3), "c": {"greg":"matthews"}}
dict1 = source.copy()
import copy
dict2 = copy.deepcopy(source)

#Modify dict1 DOES modify source
dict1['c']['greg'] = "PhD"
print(source)
print(dict1)
print(dict2)

{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'PhD'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'PhD'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Copy vs deep copy
source = {"a":1, "b": (1,2,3), "c": {"greg":"matthews"}}
dict1 = source.copy()
import copy
dict2 = copy.deepcopy(source)

#Modify dict2 does not modify source
dict2['c']['greg'] = "PhD"
print(source)
print(dict1)
print(dict2)

{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'matthews'}}
{'a': 1, 'b': (1, 2, 3), 'c': {'greg': 'PhD'}}

In [ ]:
mydict = {'BTC': (0.01, 48669.0), 
'ETH': (0.1, 3266.24), 
'ADA': (2.0, 2.5), 
'BNB': (1.0, 449.83), 
'USDT': (1000.0, 1.0), 
'DOGE': (900.0, 0.33), 
'DOT': (6.5, 28.17), 
'SOL': (8.0, 78.08), 
'BCH': (3.0, 677.51), 
'MATIC': (4.0, 1.53), 
'THETA': (3.0, 7.23), 
'EOS': (45.0, 5.36), 
'CAKE': (3.0, 23.85), 
'XMR': (1.0, 281.85), 
'ATOM': (4.0, 19.06), 
'CRO': (50.0, 0.15), 
'HNT': (4.0, 24.55)}

total = 0
for item in mydict:
  total += mydict[item][0] * mydict[item][1]

print(total)

#2
mydict['DOGE'] = (900, 747.15)
print(mydict)

#3
totalDoge = mydict['DOGE'][0] * mydict['DOGE'][1]
print(totalDoge)

noDoge = 0
for value in mydict:
  if value != 'DOGE':
    noDoge += mydict[value][0] * mydict[value][1]

print(noDoge)

6209.768999999999
{'BTC': (0.01, 48669.0), 'ETH': (0.1, 3266.24), 'ADA': (2.0, 2.5), 'BNB': (1.0, 449.83), 'USDT': (1000.0, 1.0), 'DOGE': (900, 747.15), 'DOT': (6.5, 28.17), 'SOL': (8.0, 78.08), 'BCH': (3.0, 677.51), 'MATIC': (4.0, 1.53), 'THETA': (3.0, 7.23), 'EOS': (45.0, 5.36), 'CAKE': (3.0, 23.85), 'XMR': (1.0, 281.85), 'ATOM': (4.0, 19.06), 'CRO': (50.0, 0.15), 'HNT': (4.0, 24.55)}
672435.0
5912.768999999999

In [ ]:
for value in mydict:
    mydict[value]  = list(mydict[value])

print(mydict)

print(sum(mydict["BTC"]))

{'BTC': [0.01, 48669.0], 'ETH': [0.1, 3266.24], 'ADA': [2.0, 2.5], 'BNB': [1.0, 449.83], 'USDT': [1000.0, 1.0], 'DOGE': [900, 747.15], 'DOT': [6.5, 28.17], 'SOL': [8.0, 78.08], 'BCH': [3.0, 677.51], 'MATIC': [4.0, 1.53], 'THETA': [3.0, 7.23], 'EOS': [45.0, 5.36], 'CAKE': [3.0, 23.85], 'XMR': [1.0, 281.85], 'ATOM': [4.0, 19.06], 'CRO': [50.0, 0.15], 'HNT': [4.0, 24.55]}
48669.01