<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp37-cp37m-manylinux1_x86_64.whl (23.5 MB)
     |████████████████████████████████| 23.5 MB 44.1 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31

In [4]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [17]:
def create_server_connection(host_name, user_name, user_password, database):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password, 
            database = database
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [18]:
connection = create_server_connection("scidb.smith.edu", "sds192", "DSismfc@S","imdb")

def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

MySQL Database connection successful

In [19]:
#Now run a query
q1 = """select * from kind_type limit 10"""

result = read_query(connection, q1)

print(result)

[(1, 'movie'), (2, 'tv series'), (3, 'tv movie'), (4, 'video movie'), (5, 'tv mini series'), (6, 'video game'), (7, 'episode')]

In [22]:
pd.DataFrame(result,columns = ['id','kind'])

   id            kind
0   1           movie
1   2       tv series
2   3        tv movie
3   4     video movie
4   5  tv mini series
5   6      video game
6   7         episode

Any query we want to run, we just modify the query!