<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/Tidy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reshaping Data

In [13]:
import pandas as pd
df_wide = {"subject" : ["BHO","GWB","WJC"],
      "before" : [160,120, 105],
      "after" : [115, 135, 145]}

BP_wide = pd.DataFrame(df_wide)
BP_wide

  subject  before  after
0     BHO     160    115
1     GWB     120    135
2     WJC     105    145

In [5]:
df_narrow = {"subject" : ["BHO","GWB","WJC","BHO","GWB","WJC"], 
             "when" : ["before","before","before","after","after","after"],
             "sbp" : [160,120,105,115,135,145]} 

BP_narrow = pd.DataFrame(df_narrow)
BP_narrow

  subject    when  sbp
0     BHO  before  160
1     GWB  before  120
2     WJC  before  105
3     BHO   after  115
4     GWB   after  135
5     WJC   after  145

In [12]:
#Not really what you want. 
pd.pivot(BP_narrow, columns= "when", values="sbp")

when  after  before
0       NaN   160.0
1       NaN   120.0
2       NaN   105.0
3     115.0     NaN
4     135.0     NaN
5     145.0     NaN

In [11]:
#pivoting wider: Narrow to wide
#This is what you want!
pd.pivot(BP_narrow, index = "subject", columns= "when", values="sbp")

when     after  before
subject
BHO        115     160
GWB        135     120
WJC        145     105

In [22]:
#Use melt to go wide to narrow
#pd.melt(df, id_vars=, value_vars=, var_name=, value_name=, ignore_index=)
pd.melt(BP_wide, id_vars = "subject",value_vars = ["before","after"], value_name = "bp", var_name = "when")

  subject    when   bp
0     BHO  before  160
1     GWB  before  120
2     WJC  before  105
3     BHO   after  115
4     GWB   after  135
5     WJC   after  145

In class exercises: 
 - Find the most gender neutral name
 - What name saw the biggest drop from 1900 to 1950?  How about from 1950 to 2000?

In [23]:
import pandas as pd
babynames = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/babynames.csv")
babynames.head()

   year sex       name     n      prop
0  1880   F       Mary  7065  0.072384
1  1880   F       Anna  2604  0.026679
2  1880   F       Emma  2003  0.020521
3  1880   F  Elizabeth  1939  0.019866
4  1880   F     Minnie  1746  0.017888